<template name="app">
  <header class="row-fluid">
    <div class="container">
      <div class="title">
        <a href="{{pathFor route='index'}}">This should be fun. But it's real life. Let's go.</a>
      </div>
    </div>
  </header>
<div class="row-fluid">
  <div class="container">
    <section name="list" class="slide">
      <div class="points">
        <ol>
          <li>
            <a href="{{pathFor route='agenda'}}">Agenda</a>
          </li>
          <li>
            <a href="{{pathFor route='commercial'}}">Ad</a>
          </li>
          <li>
            <a href="{{pathFor route='red'}}">Red</a>
          </li>
          <li>
            <a href="{{pathFor route='yellow'}}">Yellow</a>
          </li>
          <li>
            <a href="{{pathFor route='green'}}">Green</a>
          </li>
        </ol>
        </div>
        <div class="points">
          <ol start="6">
          <li>
            <a href="{{pathFor route='first'}}">First</a>
          </li>
          <li>
          <a href="{{pathFor route='second'}}">Second</a>
        </li>
        <li>
          <a href="{{pathFor route='third'}}">Third</a>
        </li>
        <li>
          <a href="{{pathFor route='fourth'}}">Fourth</a>
        </li>
        <li>
          <a href="{{pathFor route='fifth'}}">Fifth</a>
        </li>
      </ol>
      </div>
      <div class="points">
        <ol start="11">
        <li>
          <a href="{{pathFor route='sixth'}}">Sixth</a>
        </li>
          <li>
            <a href="{{pathFor route='reverse'}}">Reverse</a>
          </li>
          <li>
            <a href="{{pathFor route='parking'}}">Parking</a>
          </li>
          <li>
            <a href="{{pathFor route='rating'}}">Rating</a>
          </li>
          <li>
            <a href="{{pathFor route='references'}}">Useful links</a>
          </li>
        </ol>
        </div>
          <!--<li>
            <a href="{{pathFor route='meteor'}}">Surprise</a>
          </li>-->
    </section>
  </div>
</div>
</template>
