<template name="footer">
<footer class="row-fluid">
  <div class="container">
    <section name="footer">
      <div class="">
        &copy; 2016 Bekitzur
      </div>
    </section>
  </div>
</footer>
</template>
