/* CSS declarations go here */
body {
  font-family: 'Roboto', Arial, serif;
  background-color: #fafafa;
  color: #737373;
  box-sizing: border-box;
}
header {
  background-color: #00aeef;
  color: #ffffff;
  font-size: 2vw;
}
footer {
  position: absolute;
  bottom: 0;
}
header, footer {
  height: 5vw;
  width: 100%;
}
.f {
  display: inline-block;
  color: lightgrey;
}
.title, .slide {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.title {
  padding: 1vw 0;
}
.slide {
  margin: auto;
}
.ad, .feedback {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.row-fluid .advert {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}
.ad {
  position: relative;
  top: 5vw;
  bottom: 5vw;
}
.points {
  font-size: 2.5vw;
  line-height: 1.5em;
  padding: 5% 0;
}
.row-fluid .container a, a:focus, a:visited {
  text-decoration: none;
  color: currentColor;
}
section a:hover {
  border-bottom: 2px dashed #737373;
}
.gearbox {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/gearbox.png') 0 0 no-repeat;
  background-size: contain;
  height: 300px;
  width: 300px;
  padding: 1%;
}
.red {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/light-red.png') 0 0 no-repeat;
}
.yellow {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/light-yellow.png') 0 0 no-repeat;
}
.green {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/light-green.png') 0 0 no-repeat;
}
.parking {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/parking.png') 0 0 no-repeat;
  height: 200px;
  width: 200px;
}
.meteor {
  background: url('https://s3-us-west-1.amazonaws.com/beewell/shift/meteor-logo.svg') 0 0 no-repeat;
  width: 200px;
  height: 30px;
  background-size: contain;
  padding: 5%;
}
.red, .yellow, .green {
  height: 336px;
  width: 200px;
}
.red, .yellow, .green, .parking {
  background-size: contain;
  padding: 5%;
  margin: 5%;
}
.preso-rating {
  font-size: 10em;
}
.preso-rating .current-rating {
  border-color: #737373;
}
.preso-rating .active {
  color: #737373;
}
.rating-bg {
  background-color: #ffffff;
  padding: 3vw;
}
