<template name="agenda">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Are you ready to shi<span class="f">[f]</span>t expectations? Welcome!</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="onboard" class="slide">
      <div class="gearbox">
      </div>
      <div class="points">
        <strong>Agenda</strong>
        <ul>
          <li>
            Describe communication problems
          </li>
          <li>
            Review best practices and solutions
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
