<template name="commercial">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Commercial time!</a>
    </div>
  </div>
</header>
<div class="row-fluid advert">
  <div class="ad">
    <section name="ad" class="slide">
      <div class="">
        <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/jTWd6FGBPKU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
  </div>
</div>
</template>
