<template name="red">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Make sure you're on the same page from the start</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="red" class="slide">
      <div class="red">
      </div>
      <div class="points">
        <ul>
          <li>
            Ask more questions. More!
          </li>
          <li>
            Don't be afraid to seem stupid. <strong>You're in expert in web</strong> while your client is expert in his industry.
          </li>
          <li>
            Making client's business goals clear is the best option to get things done.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
