<template name="yellow">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Halt, prepare and wait. You'll get used to it.</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="wait" class="slide">
      <div class="yellow">

      </div>
      <div class="points">
        <ul>
        <li>
          Client wants not state-of-the-art IT system, but his business doing better.
        </li>
        <li>
          Any choice should be considered with "How it will profit business?"
        </li>
        <li>
          If you have strong CTO on the client's side, it might be very helpful.
        </li>
      </ul>
      </div>
    </section>
  </div>
</div>
</template>
