<template name="green">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">One, two, three... Go!</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="green" class="slide">
      <div class="green">

      </div>
      <div class="points">
        <ul>
          <li>
            Everything should be <i>written, shared and confirmed</i> within the whole team.
          </li>
          <li>
            The best option is <strong>shared project folder</strong> accessible to all team members including client reps.
          </li>
          <li>
            We have a lot of templates already prepared for us, so fill them in, make commitments and start already.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
