<template name="first">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Changing mind? This is life, deal with it.</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="first" class="slide">
      <div class="first">

      </div>
      <div class="points">
        <ul>
          <li>
            You've got all previously confirmed things in writing, yeah? This might be enough for the starters.
          </li>
          <li>
            If not, spend some of your precious time to actually find out why these changes might be needed from the client's point of view.
          </li>
          <li>
            <strong>Adjust</strong> changes on current scope.
          </li>
          <li>
            <strong>Deprioritize</strong> all minor issues and feel yourself great again!
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
