<template name="second">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Asking to get element Zero from a black hole?</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="second" class="slide">
      <div class="second">

      </div>
      <div class="points">
        <ul>
          <li>
            Don't reply with "This is impossible, we won't do it". Try to discover why this might be needed in the first place.
          </li>
          <li>
            Toggle your expert mode and try to come up with alternative solution solving the same problem. Maybe not right away but on the next meeting.
          </li>
          <li>
            A couple of overloaded sprints and voila! You've done something nearly impossible! Grab a cookie and get back to work.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
