<template name="third">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">This is urgent, we need it now!</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="third" class="slide">
      <div class="third">

      </div>
      <div class="points">
        <ul>
          <li>
            We have agreed on the scope, but there's a couple of features we need for the tomorrow's demo.
          </li>
          <li>
            Sounds familiar, isn't it? Well, the magic recipe is the same - try to figure out whether it's real urgency or not and why the hell it is.
          </li>
          <li>
            No resources? Escalate to the manager or company's executives. But first make sure that everybody is focused on latest priorities.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
