<template name="fourth">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Nothing personal, just business</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="fourth" class="slide">
      <div class="fourth">

      </div>
      <div class="points">
        <ul>
          <li>
            It happens when your neighbor or relative comes with this attitude "Oh, you're an IT guy, fix my kettle!"
          </li>
          <li>
            Decision is fully yours, but in majority of cases the best option is to opt-out from the very beginning.
          </li>
          <li>
            You may show yourself a bit arrogant, but you'll save a lot of time for projects with lesser pain and better return on investment.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
