<template name="fifth">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Expectations are leveled. At last</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="fifth" class="slide">
      <div class="fifth">

      </div>
      <div class="points">
        <ul>
          <li>
            All major decisions should be discussed and verified internally before making any commitments to the client.
          </li>
          <li>
            Reserve rate depends on the team level, but <i>~25%++ for unexpected dependencies resolving issues should be enough</i>.
          </li>
          <li>
            Client finally sees that everything's on track and project is well-established. Now it's time to make next move.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
