<template name="sixth">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">You know, we're also experts in related areas...</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="sixth" class="slide">
      <div class="sixth">

      </div>
      <div class="points">
        <ul>
          <li>
            Client asks for help with IT because he doesn't have expertise or time. Or both. So we want to solve his problem with our team.
          </li>
          <li>
            The more deeply we're involved in the client's business, the clearer lack of technical expertise in other processes might show up.
          </li>
          <li>
            So the way to build successful and long-term partnership is to extend the team removing external dependencies except one - our company.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
