<template name="reverse">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Report is a full retrospective and a sneak peek</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="reverse" class="slide">
      <div class="reverse">

      </div>
      <div class="points">
        <ul>
          <li>
            Company-wide reporting format is well-defined and we need to adjust it for particular client only by request.
          </li>
          <li>
            Accurate meeting notes and thorough JIRA updates are solid foundation for quick creation of any report.
          </li>
          <li>
            Ask for feedback every time. No feedback - considered approved. Any comments - immediate call to action.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
