<template name="parking">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Take notes to allow focusing on important things.</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="parking" class="slide">
      <div class="parking">

      </div>
      <div class="points">
        <ul>
          <li>
            Concise and easy-to-follow action items will make you look professional by default.
          </li>
          <li>
            Communication should be handled according to <strong>1 hour / same day / next business day</strong> rules.
          </li>
          <li>
            Have an improvement idea? Raise your voice! Usually client will be grateful seeing that you really care.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
