<template name="rating">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Enjoyed the ride? Rate it!</a>
    </div>
  </div>
</header>
<!--<div class="row-fluid">
  <div class="container-fluid">
    <section name="map" class="map">

    </section>
  </div>
</div>-->
<div class="row-fluid">
  <div class="container-fluid rating-bg slide">
    <section name="rating" class="">
          <div class="">
            {{> starsRating id='rating' mutable='true' class='preso-rating'}}
          </div>
      </section>
    </div>
  </div>
  <div class="row-fluid">
    <div class="container">
      <section name="contacts" class="slide">
          <div class="points">
            You know where to find me
            <ul>
              <li>
                Email: <a href="mailto:sd@bekitzur.com">sd@bekitzur.com</a>
              </li>
              <li>
                Slack: @sdemidov
              </li>
            </ul>
        </div>
      </section>
    </div>
  </div>
          <!--<div>
            <label for="comment">Leave your feedback</label>
            <textarea name="comment" rows="50" cols="3" placeholder="Your comments are much appreciated" />
          </div>
          <div>
            <button value="Submit" name="submit">Submit</button>
          </div>-->
</template>
