<template name="references">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Useful links and inspirational posts</a>
    </div>
  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="go" class="slide">
      <div class="points">
        All links are set to open in new window, be careful.
        <ul>
          <li>
            <a href="https://toggl.com/worst-client-types-infographic" target="_blank">Toggl infographics on 8 types of clients</a>
          </li>
          <li>
            <a href="https://medium.com/@romainserman/silicon-valley-etiquette-6934cf6f8f73#.c9ckmjkkv" target="_blank">Medium article on Silicon Valley etiquette</a>
          </li>
          <li>
            <a href="http://www.hongkiat.com/blog/work-better-with-freelance-clients/" target="_blank">Hongkiat article on working better with clients</a>
          </li>
          <li>
            <a href="http://www.forbes.com/sites/gaurisharma/2013/10/04/7-best-practices-for-building-client-relationships/#34b03efe283d" target="_blank">The same thing from Forbes magazine</a>
          </li>
          <li>
            <a href="https://www.smashingmagazine.com/2011/01/how-to-remain-productive-when-working-with-clients/" target="_blank">This article from Smashing Magazine is 5 years old but still true</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
