<template name="meteor">
<header class="row-fluid">
  <div class="container">
    <div class="title">
      <a href="{{pathFor route='index'}}">Something weird going on...</a>
      <div class="meteor">

      </div>
    </div>

  </div>
</header>
<div class="row-fluid">
  <div class="container">
    <section name="meteor" class="slide">

      <div class="points">
        <ul>
          <li>
            <i>Little bit more</i> interactivity than in typical Google Slides file
          </li>
          <li>
            This preso is written in <a href="https://meteor.com">Meteor.js</a>
          </li>
          <li>
            It's just a quick try in a very limited time with no coding skills
          </li>
          <li>
            So no following to DRY principles, no patterns, no logic, really
          </li>
          <li>
            Grab it at <a href="https://bitbucket.org/sdem1dov/shift">Bitbucket</a>, but remember: <strong>you've been warned</strong>!
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</template>
